<div class="container">
  <div class="row">
    <div class="col-md-10 col-lg-10 col-sm-12 mx-auto shadow-lg p-3">
      <h1 class="text-center">New product</h1>
      <%= render "form", product: @product %>
      <br>
      <div>
        <%= link_to "Back to products", products_path %>
      </div>
    </div>
  </div>
</div>