<footer>
	<div class="bg-success text-white">
	  <div class="container">
	    <div class="row">

		  <div class="col-md-4 col-md-4 col-sm-12 py-5">
        <h2>Depot Application</h2> 
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. 
        </p>

        <h4>Follow On Us:</h4>
        <ul class="d-flex" style="list-style:none;">
<!--          <li class=""><a href="#" class="text-white"><i class="fa-brands fa-facebook-f text-primary">Facebook</i></a></li>
         <li class="mx-2"><a href="#" class="text-white"><i class="fa-brands fa-instagram text-danger">Instagram</i></a></li>
         <li class="mx-2"><a href="#" class="text-white"><i class="fa-brands fa-twitter text-primary">Twitter</i></a></li>
         <li class="mx-2"><a href="#" class="text-white"><i class="fa-brands fa-linkedin text-danger">Linkedin</i></a></li> -->
        </ul>
      </div>

		  <div class="col-md-4 col-md-4 col-sm-12 py-5">
            <ul class="" style="list-style:none;">
            <style>
            ul li a{text-decoration:none;color:black;}
            </style>
              <h2>Menu</h2>
              <li class="py-1 my-2"><a href="#" class="text-white">Home</a></li>
              <li class="py-1 my-2"><a href="#" class="text-white">About</a></li>
              <li class="py-1 my-2"><a href="#" class="text-white">Gallary</a></li>
              <li class="py-1 my-2"><a href="#" class="text-white">Blog</a></li>
              <li class="py-1 my-2"><a href="#" class="text-white">Contact</a></li>

            </ul>
          </div>

		  <div class="col-md-4 col-md-4 col-sm-12 py-5 ">
        <h2>Get In Touch</h2>
         <form class="shadow-lg p-4">

            <div class="form-group">
              <label>Name</label>
              <input type="text" name="name" class="form-control">
            </div>
            
            <div class="form-group">
              <label>Email</label>
              <input type="text" name="email" class="form-control">
            </div>

            <%# <div class="form-group">
              <label>Phone</label>
              <input type="text" name="phone" class="form-control">
            </div> %>

            <div class="form-group pt-4">
              <input type="submit" name="submit" value="Send" class="form-control btn btn-primary">
            </div>

         </form>
      </div>




	    </div>

      <div class="row pb-2">
        <div class="col-md-12 col-lg-12 col-sm-12">
          <p class="text-center fw-bold">© 2023 depotapp.com</p>
        </div>
      </div>
	  </div>
	</div>
</footer>